#ContenedorW{
 background-color: #FFFEFE;
 
}

#Barra-est{
    background-color: #312633;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0.95;
   
    
    
}


#Barra-est i{
    color: #E5E5E5; 

}

#Barra-est a{

    color: #CFC1C1;
    font-size: 21px;
    
}
#Barra-est a:hover{
    color: #fffefe;
    transition: 0.2s;
    text-decoration: underline;


}
#Barra-est span{
    color: #E5E5E5; 
    font-size: 26px; 
    text-shadow: #83b8f1 0px 0px 3px;
    padding-bottom: 8px;
}

#btnreg{
    background-color: #1465bb;
    color:#CFC1C1;
    
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
   
}
#btnreg:hover{

    box-shadow: #1465bb 0px 0px 5px;
}


#Contenedor_img{
    background-image: url(/img/Imajen_Fondo.png);
    background-repeat: no-repeat;
    height: 700px;

    background-size: cover;
    position: relative;
   
}

.TextDecor{
    color: black;
    font-size: 4vw;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 38vw;
    visibility: hidden;
   


}



#Contenedor_img img{

    object-position: center;
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 65vw;
    height: 18vw;
    visibility: hidden;

} 

#ImagenAb{
    width: 43vw;
    height: 41vw;
    min-width: 170px;
    min-height: 170px;
    visibility: hidden;
   
 
}



#ColText h1{
    font-family: sans-serif;
    color: #255946;
    font-weight: bold;
    margin-top: 8vw;
} 
#ColText p{
    font-family: sans-serif;
    color: #6E7673;
    line-height: 2;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
    font-size: 20px
    
}
#ColText a{
    text-decoration: none;
    background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgb(32, 169, 130),
      rgb(34, 128, 101),
      rgb(20, 80, 68)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

#ColText a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
}
#ColText a:hover{
    background-size: 0 3px, 100% 3px;
}

.Information h1{
    font-family: sans-serif;
    color: #255946;
    font-weight: bold;
    margin-top: 2vw;
}

.Inftitle{
    font-family: sans-serif;
    color: #255946;
    font-weight: bold;
    margin-top: 3vw;
    margin-bottom: 4vw;
    text-align: center;
    text-shadow: rgb(239, 171, 171) 0 3px;

}

.Information p{
    font-family: sans-serif;
    color: #6E7673;
    line-height: 2;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
    font-size: 20px
    
}


.ColImag{
    width: 50%;
    height: 50%;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100%;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
#SecBem{
background-color: #9BFAB0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.86'%3E%3Cpath fill='%23a6fbb8' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23b0fbc0' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23bbfcc7' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23c5fccf' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23D0FDD7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23d9fddf' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23e3fee7' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ecfeef' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f6fff7' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFFFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

}
.Cardt{

    width: 300px;
    height: 370px;
    border-radius: 10px; 
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F5F5F5;
    margin-bottom: 5vw;
    margin-left: 2vw;
    opacity: 0.8;
    transition: all 300ms ease;
}
.Cardt p{
    font-size: 20px;
    text-align: justify;
    color: #424242;

}

.Cardt:hover{
    background-color: #6E7673;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(66, 128, 59, 0.574);
    
}
.Cardt:hover p{
    color: #F5F5F5;
    transition: 0.5s;
    
}

.Cardt:hover h2{
    color: #F5F5F5;
    transition: 0.5s;
    text-shadow: none;
    
}

#SuperCont{
    background-color: #081C35;
    padding-top: 3vw;
}

.wave{
    height: 60px;
    width: 100%;
    

}

#Texte1{
    color: #C5C5C5;
    font-size: 180%;
    text-decoration: solid;
  
}

.styleCa{
    background-color: #081C35;
    border: #395c81 2px solid;
}

.BtnEnv{
    background-color: #081C35;
    border: #395c81 2px solid;
    color: #8cabcc;
    border-radius: 14px;
    margin-top: 1.5vw;
    height: 34px;
    width: 100%;
}

.BtnEnv:hover{
    background-color: #395c81;
    color: #F5F5F5;
    transition: 0.5s;
}
.TextS{
    color:#C5C5C5;
    font-size: 150%;
    text-decoration: solid;
    text-align: start;
    text-decoration: double;
   
}

.Bordespc {
    border-right: 1.5px solid #395c81;
}

.StyleTexp {
    margin-bottom: 0%;
    color: #C5C5C5;
    text-align: center;
}

#BarraFn{
    color: #1465bb;
}

.Icons{

    color: #a99e9e;
    font-size: 140%;
    margin-left: 0.9vw;
    margin-right: 0.9vw;

}
.Texsec{
    color: #a99e9e;
    font-size: 115%;
    display: block;
    text-decoration: none;
    text-align: start;
    margin-top: 0.6vw;
  
}
.TextsHij{
    color: #a99e9e;
    font-size: 100%;
    text-align: center;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    text-decoration: underline;
    display: block;
    text-align: start;
   
}

.Cardt h2{
    font-family: sans-serif;
    color: #255946;
    text-align: center;
    text-shadow: rgb(239, 171, 171) 0 3px;

}

.Bordespc{
    min-width: 200px;
}
.ImgLog{
    width: 34vw;
    height: 34vw;
    min-width: 190px;
    min-height: 190px;
    visibility: hidden;
}
.Title1{
    color: #2F2E41;
    opacity: 0.85;

    text-align: center;
    margin-top: 10vw;
    position: relative;
 
}
.Title1 a{
    text-decoration: none;
    background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgb(32, 169, 130),
      rgb(34, 128, 101),
      rgb(20, 80, 68)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;

}

.Title1 a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
}
.Title1 a:hover{
    background-size: 0 3px, 100% 3px;
}


@keyframes Mover{

    0%{
        transform: translate(-100%);
    }

}

@keyframes mover{

    0%{
        transform: translate(100%);
    }

}

